:root {
    --color-normal:#333333;
    --color-high: #FFFFFF;
    --color-focussed: #408DFB;
    --bg-dialog:#FDF6E8;
    --border-color: #cbcbcb;
    --border-color1:#dee2e6;
}

*{
    
    font-family: 'Inter';
    color: var(--color-normal);
    font-size: 13px;
    
}

/* Tag */

body {
    position: fixed;
    background-color: var(--color-high);
    padding: 10px;
    margin-top: -5px;
    
}

h4{
    font-size: 17px;
    font-weight: 600;
    
}

p{
    margin-top: 12px;
    line-height: 1.692;
    color: #666;
    margin-bottom: 15px;
    width: 500px;;
}

input {
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 3px 5px;
    outline: none;
}

/* ID */

#blocker.active{
    visibility: hidden;

}

#closebutton{

    position: absolute;
    left: 475px;
    width: 24px;
    height: 24px;
    background-color: #EFF2F9;
    border: none;
    color: #748194;
    border-radius: 5px;
    top: 30px;
    cursor: pointer;
}

#generator{
  
    position: relative;
    width: 100%;
    height: 100%;
    top: 100%;
    box-sizing: border-box;
}

#generator.active{
    visibility: hidden;
}

#lable{
    padding-right: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    margin-top: 3px;
}

#star{
    color: red;
} 

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 250px;
    display: block;
    opacity: 0;
    
}
input[type='date']:hover{
    border: var(--color-focussed) 1px solid;
}
  
input::-webkit-datetime-edit {
    position: relative;
    left: 10px;
}
  
input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 20px;
}

#expiry{
    border-radius:7px;
    width:250px;
    height: 30px;
    margin-bottom: 7px;
    background:url(../assets/cal.svg);  
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5% 52%;
   
}

#expiry.active{
    width:230px;
    height:30px;
    background-color:#F8F8FA;
    pointer-events: none;
    border-color: #EDEDF2;
}

#info{
    font-size: 11px; 
    margin-bottom: 20px;
    color: #666666;

}

#line.active{
    visibility: hidden;

}

#generate.active{
    visibility: hidden;
}

#generate{
    margin-left: 0px;
    padding: 7px;
    display: flex;
    width: 32%;
    height: 38px;
    justify-content: center;
    align-items: center;
}

#Link{
    position:absolute;
    width: 100%;
    height: 100%;
    top:100%;
    box-sizing: border-box;
    
}
  
#Link.active{
    top: 245px;

}

#Link.hide{
    visibility: hidden;

} 

#dialog{

    border: 1px solid #F8EACE;
    background-color:var(--bg-dialog);
    border-radius: 10px; 
    visibility: hidden;
    line-height: 1.692;
    font-weight: 400;
    margin-top: 10px; 
    margin-right: 33px;
}

#dialog::before{
    border-color: #F8EACE transparent;
    top:-12px;
}

#dialog::after{
    border-color: var(--bg-dialog) transparent;
    top: -11px;
}

#dialog::after,#dialog::before{
    content: "";
    position: absolute;
    left: 84%;
    border-width:0px 9px 12px;
    border-style: solid;
    z-index: 1;
    width: 0;

}
  
#dialog.active{
    visibility: visible;

}

#dialogtxt{
    position: relative;
    top: -4px;
}

#dialog-confirm{
    margin-top: 10px;
    padding: 7px;
    width: 76px;
    border-radius: 5px;
    margin-left: 0px;
}

#dialog-close{
    border: none;
    background-color: var(--bg-dialog);
    color: var(--color-normal);
    padding: 2px;
    margin-left: -4px;
}
 
#bitly.active{
    visibility: hidden;
}

#content {
    position: relative;
    padding: 10px;
    border-radius: 6px;
    width: 360px;
    height: 16px;
    background-color:#F8F8FA;
    margin-top: 20px;
    border: 1px solid  #EDEDF2;

}

#bitly-link {
    position:absolute;
    user-select: all;
    line-height: 1.692;
    font-weight: 400;
    top:7px;

}

#copy{
    position:absolute;
    left: 386px;
    top: -1px;
    width: 85px;
    height: 38px;
    padding: 0px;

}

#warning{
    position: relative;
    left: -20px;
    border: 1px solid var(--bg-dialog);
    background-color: var(--bg-dialog);
    color: #966D1A;
    height:30px;
    width: 513px;
    padding: 11px;
    margin-top: -15px;
}


/* Class  */

.round.active{

    height: 8px;
    width: 8px;
    border-radius: 55%;
    border: dotted;
    display: inline-block;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: var(--color-high);
    position: relative;
    top: 0px;
  
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.button.regenerate{
   background-color: var(--color-high);
   color:var(--color-focussed);
   border: none;
   float: right; 
   margin-top: -8px;
   font-weight: 400;
}

.circle{
  
    border:none;
    border-radius: 70%;
    height: 30px;
    width: 30px;
    background-color: #93A0B4;

}
  
.sharablelink{
    font-size: 15px;
    font-weight: 500;
    padding: 0%;
    margin-left: 8px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 11px 27.14px;
    background-color:var(--color-focussed);
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    color: var(--color-high);
    border: none;
    color: var(--color-high);
}
  
.button:active {
    transform: scale(0.97);
}
    

  
hr.line{
    border: 0.1px solid var(--border-color1);
    padding: 0%;
    margin-bottom: 15px;
    margin-left:-18px;
    margin-right: -12px;
    visibility: visible;
}

.linkline{
    border: 0.1px solid var(--border-color1);
    padding: 0%;
    margin-bottom: 15px;
    margin-right: 34px;
    margin-top: 10px;

}

.jsHTML{
    margin-left: -3px;
    color: #966D1A;

}

/* SVG IMAGES */

.jsimport{
    width: 18px;
    position: relative;
    top: 3px;
}
#infosvg{
    width: 13px; 
    position: relative; 
    top: 3px;
}

#share_Linksvg{
    width: 17px;
    position: relative;
    top: 1px;
}
#regeneratesvg{
    position: relative;
    top: 3px;
    width: 15px;
}
#importantnotesvg{
    width: 18px;
    position: relative;
    top: 3px;
   
}
#copyfont{
    width: 14px;
    align-items: center;
    position: relative;
    top: 1px;
}

#closesvg{
    width: 12px;
    position: relative;
    top: 1px;
}