:root {
    --color-normal:#333333;
    --color-high: #FFFFFF;
    --color-focussed: #408DFB;
    --bg-dialog:#FDF6E8;
    --border-color: #cbcbcb;
    --border-color1:#dee2e6;
}

*{
    
    font-family: 'Inter';
    color: var(--color-normal);
    font-size: 13px;
    
}
h4{
    font-size: 15px;
    font-weight: 600;
    
}
p{
    margin-top: 12px;
    line-height: 1.692;
}
  
body {
    position: fixed;
    background-color: var(--color-high);
    padding: 10px;
    margin-top: -5px;
    
}
  
#blocker.active{
    visibility: hidden;
}
  
p{
    width: 500px;;
}

#generator,#share{
  
    position: relative;
    width: 100%;
    height: 100%;
    top: 100%;
    box-sizing: border-box;
}

#generator.active{
    visibility: hidden;
}

.tooltiptext{
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: var(--color-normal);
  color: var(--color-high);
  text-align: center;
  padding: 5px 0;
  z-index: 1;
  opacity: 0;
  transition: opacity .6s;
}

.tooltip-top{
    bottom: 80%;
    left: 68%;
    margin-left: -60px;
    
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-normal) transparent transparent transparent;
}

#generate.function:hover .tooltiptext{
      opacity:1;
      visibility: visible;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    opacity: 0;
    
}
  
input::-webkit-datetime-edit {
    position: relative;
    left: 20px;
}
  
input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 20px;
}

#expiry{
    border-radius:10px;
    width:250px;
    height: 30px;
    margin-bottom: 7px;
    background:url(../assets/cal.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 8%;
   
}

#expiry.active{
    width:230px;
    height:20px;
    background-color:#F8F8FA;
    padding: 10px;
    pointer-events: none;
    border: none;
}

.round.active{
      
    height: 10px;
    width: 10px;
    border-radius: 55%;
    border: dotted;
    display: inline-block;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #FFFFFF;
  
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

#generate.active{
    visibility: hidden;
}
#generate{
    margin-left: 0px;
}
  
.button.regenerate{
   background-color: var(--color-high);
   color:var(--color-focussed);
   border: none;
   float: right; 
   margin-top: -8px;
   font-weight: 500;
}
  
#dialog{
    border: 1px solid #F8EACE;
    background-color:var(--bg-dialog);
    border-radius: 10px; 
    visibility: hidden;
    line-height: 1.692;
    font-weight: 400;
    margin-top: 10px; 
}
#dialog::after{
    content: "";
    position: absolute;
    top: -25%;
    left: 80%;
    margin-left:15px;
    border-width:15px;
    border-style: solid;
    border-color:  transparent   transparent  var(--bg-dialog) transparent;

}
  
#dialog.active{
    visibility: visible;
   
  
}

#dialog-confirm{
    margin-top: 10px;
}

#dialog-close{
    border: none;
    background-color: var(--bg-dialog);
    color: var(--color-normal);
}

#Link{
    position:absolute;
    width: 100%;
    height: 100%;
    top:100%;
    box-sizing: border-box;
    
}
  
#Link.active{
    top: 276px;;
}

#Link.hide{
    visibility: hidden;
}
  
.circle{
  
    border:none;
    border-radius: 70%;
    height: 27px;
    background-color: #93A0B4;
}
  
.sharablelink{
    font-size: 15px;
    font-weight: 500;
    padding: 0%;
    margin-left: 8px;
}

#content {
    position: relative;
    padding: 10px;
    border-radius: 7px;
    width: 327px;
    height: 28px;
    background-color:#F8F8FA;
    margin-top: 20px;
}
  
#bitly.active{
    visibility: hidden;
}
  
#bitly-link {
    position:absolute;
    user-select: all;
    line-height: 1.692;
    font-weight: 400;
    top: 13px;
}
#copy{
    position:absolute;
    left: 350px;
    top: 1px;
    width: 105px;
    height: 45px;
}
.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 11px 27.14px;
    background-color:var(--color-focussed);
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    color: var(--color-high);
    border: none;
    color: var(--color-high);
}
  
.button:active {
    transform: scale(0.97);
}
  
#lable{
    padding-right: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}
  
input {
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 3px 5px;
    outline: none;
}
  
hr.line{
    border: 1px solid var(--border-color1);
    padding: 0%;
    margin-bottom: 15px;
}
#warning{
    background-color: #ffecec;
    border-color: #ffdde2;
    color: #b94a48;
    height:30px;
    width: 450px;
    height: 20px;
    padding: 15px;
}
#infosvg{
    width: 13px; 
    position: relative; 
    top: 3px;
}
#info{
    font-size: 11px; 
    margin-bottom: 20px;

}
#share_Linksvg{
    width: 15px;
}
#regeneratesvg{
    width: 10px;
}
#importantnotesvg{
    width: 15px;
}
#copyfont{
    width: 0.3;
    color: #FFFFFF;
    align-items: center;
}
#star{
    color: red;
} 